.container {
    display: flex;
    flex-direction: column;
    min-width: 290px;
    min-height: 500px;
    background-color: #fbfbfb;
    border-radius: 0 0 30px 30px;
    margin: 0 15px;
}

.homeTitle {
    min-height: 288px;
    padding: 35px 15px 0 15px;
}

.homeName {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #191A15;
    margin-bottom: 25px;
}

.homeText {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 105%;
    letter-spacing: -0.02em;
    color: #191A15;
    margin-bottom: 25px;
}
.depths {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    color: var(--color-primary);
}
.homeBtn {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;
    padding: 18px 50px;
    width: 235px;
    height: 60px;
    background-color: var(--color-primary);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    position: relative;
}

.homeImg {
    position: relative;
    border-radius: 0 0 30px 30px;
}

.experienced {
    position: absolute;
    bottom: 30%;
    left: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    width: 154px;
    border-radius: 20px;
    height: 80px;
    background-color: var(--color-primary);
}

.check {
    border-radius: 13px;
    width: 42px;
    height: 42px;
    padding: 10px;
    background-color: #fbfbfb;
}

.checkIcon {
    fill: var(--color-primary);
    width: 20px;
    height: 15px;
}

.textExperienced {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(251, 251, 251, 0.5);
}

.numberExperienced {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fbfbfb;
}

.defaultIcon {
    display: block;
    width: 15px;
    height: 17px;
    fill: #fbfbfb;
}

/* Друга іконка прихована */
.hoverIcon {
    display: none;
    width: 20px;
    height: 16px;
    fill: #fbfbfb;
}

/* При наведенні або фокусі змінюємо іконку */
.homeBtn:hover .defaultIcon,
.homeBtn:focus .defaultIcon {
    display: none;
}

.homeBtn:hover .hoverIcon,
.homeBtn:focus .hoverIcon {
    display: block;
}

@media screen and (min-width: 375px) {
    .container {
        margin: 0 20px;
    }

    .homeTitle {
        min-height: 295px;
        padding: 20px;
    }

    .homeName {
        margin-bottom: 35px;
    }

    .homeText {
        margin-bottom: 40px;
    }

    .experienced {
        bottom: 20%;
        left: 49%;
    }

}

@media screen and (min-width: 768px) {
    .container {
        margin: 0 32px;
    }

    .homeImg {
        height: 295px;
    }

    .homeTitle {
        height: 353px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }

    .homeName {
        width: 517px;
        font-weight: 500;
        font-size: 70px;
        margin: 0;
    }

    .homeText {
        font-size: 28px;
        line-height: 107%;
        margin-bottom: 20px;
    }


    .homeBtn {
        padding: 18px 50px;
        width: 235px;
        height: 60px;
    }

    .experienced {
        bottom: 16%;
        left: 55%;
        padding: 32px;
        width: 284px;
        height: 118px;
    }

    .check {
        width: 42px;
        height: 42px;
        padding: 8px ;
    }

    .checkIcon {
        width: 30px;
        height: 25px;
    }

    .textExperienced {
        font-size: 16px;
    }

    .numberExperienced {
        font-weight: 700;
        font-size: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        position: relative;
        width: 1376px;
        height: 736px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 125px;
        justify-content: center;
        margin: 0 auto;
    }

    .homeTitle {
        display: block;
        width: 595px;
        height: 438px;
        padding: 0;
    }

    .homeName {
        margin-bottom: 20px;
        width: 595px;
        font-weight: 600;
        font-size: 80px;
    }

    .homeText {
        width: 510px;
        font-weight: 500;
        font-size: 18px;
        line-height: 133%;
        letter-spacing: 0.03em;
        margin-bottom: 40px;
    }

    .homeImg {
        border-radius: 0 30px 30px 0;
        border-radius: 10px;
        width: 464px;
        height: 526px;
        background: no-repeat center/cover;
    }

    .experienced {
        width: 311px;
        height: 118px;
        left: 52%;
        bottom: 25%;
    }
}